/* Allgemeine Stile für die Webseite */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

/* Stile für das Chatfenster */
#chatwindow {
    width: 750px;
    height: 500px;
    max-height: 600px;
    overflow-y: scroll;
}

/* Stile für die Benutzerliste */
#userList {
    color: #333;
    overflow-y: auto;
}

/* Stile für einzelne Nachrichten im Chatfenster */
#chatbox {
    margin: 10px;
    background-color: #e2e8f0;
    color: #333;
    padding: 8px;
}

/* Stile für Benutzer-Nachrichten im Chatfenster */
#chatboxUser {
    margin: 10px;
    background-color: #cbd5e0;
    color: #333;
    padding: 8px;
}

/* Stile für das Eingabefeld für Nachrichten */
#inputWindow {
    width: 800px;
}

/* Stile für einzelne Benutzer in der Benutzerliste */
.user-item {
    margin: 10px;
    background-color: #e2e8f0;
    color: #333;
    padding: 8px;
    border-radius: 9999px;
}

/* Stile für den Titel der Benutzerliste */
#h2UserList {
    margin: 5px;
    color: #333;
}
